
table {
    width: 100%;
    margin: auto;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
}
#search-btn-div {
  display: flex;
  margin-left: auto;
}
#search-btn-div .mat-raised-button{
  display: center;
  height: 60%;
  align-items: center;
  margin-right: 10px;
  min-width: 300px;
}


.mat-form-field > .mat-form-field-wrapper {
    flex: 1; 
}
  
  td, th {
    width: 25%;
  }
  