# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.DS_Store
# Local History for Visual Studio Code
.history/

# SERVER
server/.env
server/node_modules

#employee-client-react
# Logs
employee-client-react/logs
employee-client-react/*.log
employee-client-react/npm-debug.log*
employee-client-react/yarn-debug.log*
employee-client-react/yarn-error.log*
employee-client-react/pnpm-debug.log*
employee-client-react/lerna-debug.log*

employee-client-react/node_modules
employee-client-react/dist
employee-client-react/dist-ssr
employee-client-react/*.local

# Editor directories and files
employee-client-react/.vscode/*
employee-client-react/!.vscode/extensions.json
employee-client-react/.idea
employee-client-react/.DS_Store
employee-client-react/*.suo
employee-client-react/*.ntvs*
employee-client-react/*.njsproj
employee-client-react/*.sln
employee-client-react/*.sw?
