<mat-card-title-group>
  <mat-card-title>Generate token and send email</mat-card-title>
</mat-card-title-group>
<mat-divider></mat-divider>
<div [ngClass]="{'success-message': operationSuccess === true, 'error-message': operationSuccess === false}">
  {{ tokenFeedbackMessage }}
</div>

<form [formGroup]="tokenForm" (ngSubmit)="createNewRegistrationToken()">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput formControlName="userFirstName" placeholder="First Name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="userLastName" placeholder="Last Name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email Address</mat-label>
    <input matInput formControlName="email" placeholder="Email Address">
  </mat-form-field>
  <!-- Buttons -->
  <div class="actions" align="start">
    <button mat-flat-button color="primary" class="wide-button" type="submit">Send</button>
    
    <button mat-button type="button" class="wide-button" (click)="closeDialog()">Cancel</button>
  </div>
  <form [formGroup]="tokenForm" (ngSubmit)="createNewRegistrationToken()">
