<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isOpen" fixedInViewport>
    <!-- Your sidenav content here -->
    <mat-nav-list>
      <a mat-list-item href="#">Hiring Management</a>
      <a mat-list-item href="#">Employee Profiles</a>
      <a mat-list-item href="#">Visa Status Management</a>
      <a mat-list-item href="#">Housing Management</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main content -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      BeaconFire
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Allows you to project content into the layout -->
  </mat-sidenav-content>
</mat-sidenav-container>
