<mat-card>
  <div class="flexbox-h flexbox-space-between">
    <mat-card-title>
      {{ report?.title }}
    </mat-card-title>
    <ng-container [ngSwitch]="report?.status">
      <button mat-flat-button color="accent" *ngSwitchCase="'Open'">
        Open
      </button>

      <button mat-flat-button color="primary" *ngSwitchCase="'InProgress'">
        In Progress
      </button>

      <button mat-flat-button disabled *ngSwitchCase="'Closed'">
        Closed
      </button>
    </ng-container>
  </div>
  <br />

  <mat-card-subtitle> Description </mat-card-subtitle>
  <p>{{ report?.description }}</p>
  <br />

  <p> Created by {{ report?.createdBy?.username }} at {{ report?.createdDatetime | date }}</p>

  <mat-card-actions>
    <button mat-button (click)="this.toggleCardCollapse()">View Comments</button>
  </mat-card-actions>

  <div class="card-content" *ngIf="isCollapsed">
    <ng-container *ngFor="let comment of report?.comments">
      <mat-divider></mat-divider>
      <br/>
      <div class="flexbox-h flexbox-space-between">
        <div *ngIf="comment.createdBy._id == userId">
          <button mat-flat-button color="primary">
            Edit
          </button>
        </div>
        <div>
          <p>{{ comment.description }}</p>
          <br/>
          <p>Last editted by {{ comment.createdBy.username }} at {{ comment.lastModifiedDatetime | date }}</p>
        </div>
      </div>
    </ng-container>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button (click)="openAddCommentDialog()">Add Comment</button>
    </mat-card-actions>
  </div>

</mat-card>
