<h2 mat-dialog-title>Create New Housing</h2>
<mat-dialog-content>
  <form [formGroup]="newHousingForm">
    <p>Give new housing a name as an identifier</p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <br/>

    <p>Address</p>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
    <br/>

    <div formGroupName="landlord">
      <p>Landlord Info</p>
      <mat-form-field>
        <mat-label>Full name</mat-label>
        <input matInput formControlName="fullName">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phoneNumber">
      </mat-form-field>
      <br/>
      <mat-form-field> 
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>  
    </div>
    <br/>

    <div formGroupName="facilityInfo">
      <p>Facility Info</p>
      <mat-form-field> 
        <p>Beds</p>
        <input matInput type="number" min="0" max="20" formControlName="beds">
      </mat-form-field> 
      <br/>
      <mat-form-field> 
        <p>Mattresses</p>
        <input matInput type="number" min="0" max="20" formControlName="mattresses">
      </mat-form-field> 
      <br/>
      <mat-form-field> 
        <p>Tables</p>
        <input matInput type="number" min="0" max="20" formControlName="tables">
      </mat-form-field> 
      <br/>
      <mat-form-field> 
        <p>Chairs</p>
        <input matInput type="number" min="0" max="20" formControlName="chairs">
      </mat-form-field> 
    </div>
    
  </form>
  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" [disabled]="newHousingForm.invalid">Submit</button>
</mat-dialog-actions>