/* app.component.css */
.router-outlet-container {
    padding: 20px; 
  }
.example-container {
    min-height: 100vh;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .sidenav-header {
    padding: 10px;
    text-align: center;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  