<h2 mat-dialog-title>Add Comment</h2>
<mat-dialog-content>
  <form [formGroup]="commentForm">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <div *ngIf="commentForm.get('description')?.invalid && (commentForm.get('description')?.dirty || commentForm.get('description')?.touched)">
      <div *ngIf="commentForm.get('description')?.errors?.['required']">Description is required.</div>
    </div>
  </form>
  <br/>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" [disabled]="commentForm.invalid">Submit</button>
</mat-dialog-actions>
