.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .name-field {
    flex: 1;
    margin-right: 16px; 
  }
  
  .name-field:last-child {
    margin-right: 0; 
  }
  
  .email-field {
    flex: 1; 
  }

textarea {
  width: 100%;
  min-height: 100px; /* Adjust the height as needed */
}

/* Styling the feedback message */
p {
  margin-top: 10px;
  color: green; /* Set the color of the message */
  font-weight: bold; /* Make the message bold */
}

/* Styling the buttons */
.actions {
  margin-top: 20px; /* Add some space between the textarea and buttons */
}
.wide-button {
  margin-right: 10px; /* Add space between the buttons */
}
